h1 {
  color: white;
  font-family: sans-serif;
  font-size: 34px;
  font-weight: 600;
  max-width: 45%;
  text-align: center;
}

p {
  color: white;
  font-size: 14px;
  max-width: 40%;
  align-self: center;
  text-align: center;
}

.highlight {
  color: #FF3AF0
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.successMessage {
  display: flex;
  justify-content: center;
  background-color: #EBFF00;
  border: solid 1px;
  border-color: #000000;
  margin-bottom: 10px;
  margin: 10px;
}

.errorMessage {
  display: flex;
  justify-content: center;
  background-color: #FF004D;
  border: solid 1px;
  border-color: #000000;
  margin: 10px;
}

form {
  background: #34353E;
  /* border: 1px solid #dedede; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 500px;
  padding: 30px 50px 0px;
}

input {
  border: 2px solid #93949D;
  color: white;
  background: #34353E;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

label {
  color: #fff;
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.errorField {
  color: red;
  font-family: sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
  text-align: left;
}

.submitButton {
  background-color: #FF3AF0;
  border: 0px;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: 20px 0px;
}
